@page "/employees"
@using System.ComponentModel.DataAnnotations
@using Client.Services
@inject HttpClient Http
@inject IEmployeeService _employeeService

<PageTitle>Employees</PageTitle>

<h1>Employees</h1>


@if (EmployeesArray is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
@*                 <th scope="col">Role</th>
 *@                <th scope="col">Designation</th>
                <th scope="col">EmployeeCode</th>
                <th scope="col">Email</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var employee in EmployeesArray)
            {
                <tr>
                    <td>@($"{employee.FirstName} {employee.LastName}")</td>
                    @*<td>@employee.Role</td>*@             
                    <td>@employee.Designation</td>
                    <td>@employee.EmployeeCode</td>
                    <td>@employee.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public class Employee
    {
        public string FirstName { get; set; } = string.Empty;

        public string LastName { get; set; } = string.Empty;
        // public string Role { get; set; } = string.Empty;

        public string Designation { get; set; } = string.Empty;
        public int EmployeeCode { get; set; }

        [EmailAddress]
        public string EmailAddress { get; set; } = string.Empty;

        public string PasswordHash { get; set; } = string.Empty;
    }

    private Employee[]? EmployeesArray { get; set; }


    protected override async Task OnInitializedAsync()
    {
        // will update it now to be fetched from the api
        EmployeesArray = (await _employeeService.GetEmployees()).ToArray();
    }
}
